@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,900);/* index.css */
* {
  box-sizing: border-box;
  font-family: "Montserrat+Alternatives", sans-serif;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  scroll-behavior: smooth;
  margin: 0 auto; }

#layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-gap: 10px;
  grid-template-areas: "header" "content" "footer"; }

.loader {
  height: 80vh;
  width: 80vw; }

#header {
  grid-area: header;
  padding-top: 10px;
  display: flex;
  flex-flow: row;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
  margin: 0 auto; }

#content {
  grid-area: content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center; }

.component {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
  overflow-y: scroll;
  padding: 4px;
  max-height: 100%;
  min-height: 100%;
  width: 100%; }

.navigationMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 400px;
  min-height: 800px;
  background: rgba(20, 29, 37, 0.9);
  z-index: 1;
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  line-height: 5rem;
  align-content: flex-start;
  transition: 0.5s; }

#footer {
  grid-area: footer;
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  justify-content: center; }

.form {
  margin: 0 auto;
  display: flex;
  flex-flow: column; }
  .form .error {
    color: red; }
  .form .fieldset {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center; }
    .form .fieldset .fields {
      display: flex;
      flex-flow: column;
      margin-bottom: 5px; }
  .form .submit {
    height: 50px;
    width: 100%;
    background-color: #ecf0f1;
    color: #34495e;
    cursor: pointer;
    transition: all 0.3s; }
  .form .submitting {
    height: 50px;
    width: 100%;
    background-color: #34495e;
    color: #ecf0f1;
    cursor: not-allowed; }

.groups {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
  overflow-y: scroll;
  padding: 4px;
  max-height: 100%;
  width: 100%; }

.group,
.invite {
  position: relative;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 4px 10px;
  border: 1.5px dashed grey;
  display: flex;
  flex-grow: 1;
  margin: 10px auto;
  transition-duration: 0.3s;
  width: 90%;
  min-width: 280px;
  justify-content: space-between;
  align-content: center; }
  .group .title,
  .group .email,
  .group .date,
  .group .rsvps .partySize,
  .invite .title,
  .invite .email,
  .invite .date,
  .invite .rsvps .partySize {
    margin: 0; }
  .group .rsvps,
  .invite .rsvps {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center; }
    .group .rsvps .isSelected,
    .invite .rsvps .isSelected {
      background-color: #2980b9;
      box-shadow: inset 0px 2px 4px 0px rgba(20, 29, 37, 0.2); }
  .group .title,
  .invite .title {
    font-weight: bold; }
  .group .partySize,
  .invite .partySize {
    padding-top: 4px;
    border-radius: 50%;
    background-color: #2980b9;
    color: #ecf0f1;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center; }
  .group:hover,
  .invite:hover {
    border: 1.5px dashed #2980b9;
    box-shadow: 0px 2px 4px 0px rgba(20, 29, 37, 0.2); }
    .group:hover > .btn-delete,
    .invite:hover > .btn-delete {
      opacity: 1; }

.tab {
  padding-left: 20px;
  flex-basis: 20%;
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: center;
  font-size: 3rem;
  color: white;
  letter-spacing: 1px;
  transition: 0.2s; }
  .tab:hover {
    color: #2980b9;
    letter-spacing: 2px; }

.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  margin-left: 10px; }
  .hamburger:hover > * {
    fill: #2980b9; }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px; }

.btn-close {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  background: #95a5a6;
  color: #7f8c8d;
  position: absolute;
  top: 0;
  right: -5px; }
  .btn-close:hover {
    background: #bdc3c7;
    box-shadow: 0px 1px 2px 0px rgba(20, 29, 37, 0.2); }

.btn-delete {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  opacity: 0;
  border-radius: 5px;
  background: #95a5a6;
  color: #ecf0f1;
  position: absolute;
  top: -5px;
  right: -5px;
  /* height: 15px; */ }
  .btn-delete:before {
    content: "X"; }
  .btn-delete:hover {
    background: #c0392b;
    box-shadow: 0px 1px 2px 0px rgba(20, 29, 37, 0.2); }

.Btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  transition-duration: 0.2s;
  letter-spacing: 1px; }
  .Btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(20, 29, 37, 0.2);
    letter-spacing: 2px;
    color: #2980b9; }

/* Flexbox Grid */

.left {
  margin-right: auto; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
  -webkit-animation: fade-in 0.5s;
          animation: fade-in 0.5s; }

.modal.hide {
  -webkit-animation: fade-out 0.5s;
          animation: fade-out 0.5s; }

.modal-content {
  position: relative; }

/* Media Qs */
@media (min-width: 668px) {
  * {
    font-size: 18px; }
  #layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 3fr 1fr;
    grid-gap: 10px;
    grid-template-areas: ". header header" "sidebar content content" "footer footer footer"; }
  .hamburger {
    display: none; }
  .tab {
    color: inherit;
    font-size: 1.5rem;
    line-height: 2.5rem; }
  #sidebar {
    grid-area: sidebar;
    min-width: 225px;
    min-height: inherit;
    height: 80vh;
    background: inherit;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    transition: 0.2s; } }
/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
/*
==============================================
slideDown
==============================================
*/
.reverseAnimation {
  animation-direction: reverse;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%); }
  65% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%); }
  80% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%); }
  95% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  50% {
    -webkit-transform: translateY(8%); }
  65% {
    -webkit-transform: translateY(-4%); }
  80% {
    -webkit-transform: translateY(4%); }
  95% {
    -webkit-transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideUp
==============================================
*/
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideLeft
==============================================
*/

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%); }
  50% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%); }
  50% {
    -webkit-transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*
==============================================
slideRight
==============================================
*/
.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%); }
  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%); }
  65% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%); }
  80% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%); }
  95% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%); }
  50% {
    -webkit-transform: translateX(8%); }
  65% {
    -webkit-transform: translateX(-4%); }
  80% {
    -webkit-transform: translateX(4%); }
  95% {
    -webkit-transform: translateX(-2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*
==============================================
slideExpandUp
==============================================
*/

@keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5);
            transform: translateY(100%) scaleX(0.5); }
  30% {
    -webkit-transform: translateY(-8%) scaleX(0.5);
            transform: translateY(-8%) scaleX(0.5); }
  40% {
    -webkit-transform: translateY(2%) scaleX(0.5);
            transform: translateY(2%) scaleX(0.5); }
  50% {
    -webkit-transform: translateY(0%) scaleX(1.1);
            transform: translateY(0%) scaleX(1.1); }
  60% {
    -webkit-transform: translateY(0%) scaleX(0.9);
            transform: translateY(0%) scaleX(0.9); }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05);
            transform: translateY(0%) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleX(0.95);
            transform: translateY(0%) scaleX(0.95); }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
            transform: translateY(0%) scaleX(1.02); }
  100% {
    -webkit-transform: translateY(0%) scaleX(1);
            transform: translateY(0%) scaleX(1); } }

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5); }
  30% {
    -webkit-transform: translateY(-8%) scaleX(0.5); }
  40% {
    -webkit-transform: translateY(2%) scaleX(0.5); }
  50% {
    -webkit-transform: translateY(0%) scaleX(1.1); }
  60% {
    -webkit-transform: translateY(0%) scaleX(0.9); }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleX(0.95); }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02); }
  100% {
    -webkit-transform: translateY(0%) scaleX(1); } }

/*
==============================================
expandUp
==============================================
*/

@keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
            transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    -webkit-transform: translateY(-7%) scaleY(1.12);
            transform: translateY(-7%) scaleY(1.12); }
  75% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%); }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1);
            transform: translateY(0%) scale(1) scaleY(1); } }

@-webkit-keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    -webkit-transform: translateY(-7%) scaleY(1.12); }
  75% {
    -webkit-transform: translateY(3%); }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1); } }

/*
==============================================
fadeIn
==============================================
*/

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

/*
==============================================
expandOpen
==============================================
*/

@keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8); }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  90% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8); }
  50% {
    -webkit-transform: scale(0.95); }
  80% {
    -webkit-transform: scale(1.05); }
  90% {
    -webkit-transform: scale(0.98); }
  100% {
    -webkit-transform: scale(1); } }

/*
==============================================
bigEntrance
==============================================
*/

@keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
            transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
            transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }

/*
==============================================
hatch
==============================================
*/

@keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6);
            transform: rotate(0deg) scaleY(0.6); }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05);
            transform: rotate(-2deg) scaleY(1.05); }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
            transform: rotate(2deg) scaleY(1); }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  65% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); }
  80% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6); }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05); }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1); }
  50% {
    -webkit-transform: rotate(-2deg); }
  65% {
    -webkit-transform: rotate(1deg); }
  80% {
    -webkit-transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

/*
==============================================
bounce
==============================================
*/

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6);
            transform: translateY(0%) scaleY(0.6); }
  60% {
    -webkit-transform: translateY(-100%) scaleY(1.1);
            transform: translateY(-100%) scaleY(1.1); }
  70% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
            transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
            transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
            transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1);
            transform: translateY(0%) scaleY(1) scaleX(1); } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6); }
  60% {
    -webkit-transform: translateY(-100%) scaleY(1.1); }
  70% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1); } }

/*
==============================================
pulse
==============================================
*/

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.7; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }

/*
==============================================
floating
==============================================
*/

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
tossing
==============================================
*/

@keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg); } }

/*
==============================================
pullUp
==============================================
*/

@keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1); } }

/*
==============================================
pullDown
==============================================
*/

@keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1); } }

/*
==============================================
stretchLeft
==============================================
*/

@keyframes stretchLeft {
  0% {
    -webkit-transform: scaleX(0.3);
            transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02);
            transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98);
            transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01);
            transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98);
            transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01);
            transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@-webkit-keyframes stretchLeft {
  0% {
    -webkit-transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1); } }

/*
==============================================
stretchRight
==============================================
*/
.stretchRight {
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; }

@keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(0.3);
            transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02);
            transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98);
            transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01);
            transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98);
            transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01);
            transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@-webkit-keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1); } }

/* https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css */
/*
   * Elastic
   */

/*
   * Elastic Reverse
   */
.holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent; }
  .holder .preloader {
    /* size */
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35%;
    top: 35%;
    -webkit-transform: translateX(-25%) translateY(-50%);
            transform: translateX(-25%) translateY(-50%);
    -webkit-animation: rotatePreloader 2s infinite ease-in;
            animation: rotatePreloader 2s infinite ease-in; }

@-webkit-keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-25%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-25%) translateY(-50%) rotateZ(0deg); }
  100% {
    -webkit-transform: translateX(-25%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-25%) translateY(-50%) rotateZ(-360deg); } }

@keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-25%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-25%) translateY(-50%) rotateZ(0deg); }
  100% {
    -webkit-transform: translateX(-25%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-25%) translateY(-50%) rotateZ(-360deg); } }
  .holder .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .holder .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #2980b9;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%; }
  .holder .preloader div:nth-child(1) {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-animation: rotateCircle1 2s infinite linear;
            animation: rotateCircle1 2s infinite linear;
    z-index: 6; }

@-webkit-keyframes rotateCircle1 {
  0% {
    opacity: 0; }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(51.42857deg);
            transform: rotateZ(51.42857deg); }
  9.14286% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  59.14286% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle1 {
  0% {
    opacity: 0; }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(51.42857deg);
            transform: rotateZ(51.42857deg); }
  9.14286% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  59.14286% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(2) {
    -webkit-transform: rotateZ(51.42857deg);
            transform: rotateZ(51.42857deg);
    -webkit-animation: rotateCircle2 2s infinite linear;
            animation: rotateCircle2 2s infinite linear;
    z-index: 5; }

@-webkit-keyframes rotateCircle2 {
  7.14286% {
    opacity: 0; }
  7.14296% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  16.28571% {
    -webkit-transform: rotateZ(-51.42857deg);
            transform: rotateZ(-51.42857deg); }
  66.28571% {
    -webkit-transform: rotateZ(-51.42857deg);
            transform: rotateZ(-51.42857deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle2 {
  7.14286% {
    opacity: 0; }
  7.14296% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  16.28571% {
    -webkit-transform: rotateZ(-51.42857deg);
            transform: rotateZ(-51.42857deg); }
  66.28571% {
    -webkit-transform: rotateZ(-51.42857deg);
            transform: rotateZ(-51.42857deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(3) {
    -webkit-transform: rotateZ(102.85714deg);
            transform: rotateZ(102.85714deg);
    -webkit-animation: rotateCircle3 2s infinite linear;
            animation: rotateCircle3 2s infinite linear;
    z-index: 4; }

@-webkit-keyframes rotateCircle3 {
  14.28571% {
    opacity: 0; }
  14.28591% {
    opacity: 1;
    -webkit-transform: rotateZ(-51.42857deg);
            transform: rotateZ(-51.42857deg); }
  23.42857% {
    -webkit-transform: rotateZ(-102.85714deg);
            transform: rotateZ(-102.85714deg); }
  73.42857% {
    -webkit-transform: rotateZ(-102.85714deg);
            transform: rotateZ(-102.85714deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle3 {
  14.28571% {
    opacity: 0; }
  14.28591% {
    opacity: 1;
    -webkit-transform: rotateZ(-51.42857deg);
            transform: rotateZ(-51.42857deg); }
  23.42857% {
    -webkit-transform: rotateZ(-102.85714deg);
            transform: rotateZ(-102.85714deg); }
  73.42857% {
    -webkit-transform: rotateZ(-102.85714deg);
            transform: rotateZ(-102.85714deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(4) {
    -webkit-transform: rotateZ(154.28571deg);
            transform: rotateZ(154.28571deg);
    -webkit-animation: rotateCircle4 2s infinite linear;
            animation: rotateCircle4 2s infinite linear;
    z-index: 3; }

@-webkit-keyframes rotateCircle4 {
  21.42857% {
    opacity: 0; }
  21.42887% {
    opacity: 1;
    -webkit-transform: rotateZ(-102.85714deg);
            transform: rotateZ(-102.85714deg); }
  30.57143% {
    -webkit-transform: rotateZ(-154.28571deg);
            transform: rotateZ(-154.28571deg); }
  80.57143% {
    -webkit-transform: rotateZ(-154.28571deg);
            transform: rotateZ(-154.28571deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle4 {
  21.42857% {
    opacity: 0; }
  21.42887% {
    opacity: 1;
    -webkit-transform: rotateZ(-102.85714deg);
            transform: rotateZ(-102.85714deg); }
  30.57143% {
    -webkit-transform: rotateZ(-154.28571deg);
            transform: rotateZ(-154.28571deg); }
  80.57143% {
    -webkit-transform: rotateZ(-154.28571deg);
            transform: rotateZ(-154.28571deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(5) {
    -webkit-transform: rotateZ(205.71429deg);
            transform: rotateZ(205.71429deg);
    -webkit-animation: rotateCircle5 2s infinite linear;
            animation: rotateCircle5 2s infinite linear;
    z-index: 2; }

@-webkit-keyframes rotateCircle5 {
  28.57143% {
    opacity: 0; }
  28.57183% {
    opacity: 1;
    -webkit-transform: rotateZ(-154.28571deg);
            transform: rotateZ(-154.28571deg); }
  37.71429% {
    -webkit-transform: rotateZ(-205.71429deg);
            transform: rotateZ(-205.71429deg); }
  87.71429% {
    -webkit-transform: rotateZ(-205.71429deg);
            transform: rotateZ(-205.71429deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle5 {
  28.57143% {
    opacity: 0; }
  28.57183% {
    opacity: 1;
    -webkit-transform: rotateZ(-154.28571deg);
            transform: rotateZ(-154.28571deg); }
  37.71429% {
    -webkit-transform: rotateZ(-205.71429deg);
            transform: rotateZ(-205.71429deg); }
  87.71429% {
    -webkit-transform: rotateZ(-205.71429deg);
            transform: rotateZ(-205.71429deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(6) {
    -webkit-transform: rotateZ(257.14286deg);
            transform: rotateZ(257.14286deg);
    -webkit-animation: rotateCircle6 2s infinite linear;
            animation: rotateCircle6 2s infinite linear;
    z-index: 1; }

@-webkit-keyframes rotateCircle6 {
  35.71429% {
    opacity: 0; }
  35.71479% {
    opacity: 1;
    -webkit-transform: rotateZ(-205.71429deg);
            transform: rotateZ(-205.71429deg); }
  44.85714% {
    -webkit-transform: rotateZ(-257.14286deg);
            transform: rotateZ(-257.14286deg); }
  94.85714% {
    -webkit-transform: rotateZ(-257.14286deg);
            transform: rotateZ(-257.14286deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle6 {
  35.71429% {
    opacity: 0; }
  35.71479% {
    opacity: 1;
    -webkit-transform: rotateZ(-205.71429deg);
            transform: rotateZ(-205.71429deg); }
  44.85714% {
    -webkit-transform: rotateZ(-257.14286deg);
            transform: rotateZ(-257.14286deg); }
  94.85714% {
    -webkit-transform: rotateZ(-257.14286deg);
            transform: rotateZ(-257.14286deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(7) {
    -webkit-transform: rotateZ(308.57143deg);
            transform: rotateZ(308.57143deg);
    -webkit-animation: rotateCircle7 2s infinite linear;
            animation: rotateCircle7 2s infinite linear;
    z-index: 0; }

@-webkit-keyframes rotateCircle7 {
  42.85714% {
    opacity: 0; }
  42.85774% {
    opacity: 1;
    -webkit-transform: rotateZ(-257.14286deg);
            transform: rotateZ(-257.14286deg); }
  52% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg); }
  102% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

@keyframes rotateCircle7 {
  42.85714% {
    opacity: 0; }
  42.85774% {
    opacity: 1;
    -webkit-transform: rotateZ(-257.14286deg);
            transform: rotateZ(-257.14286deg); }
  52% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg); }
  102% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg); }
  100% {
    -webkit-transform: rotateZ(-308.57143deg);
            transform: rotateZ(-308.57143deg);
    opacity: 1; } }

/*# sourceMappingURL=main-eb5e16a10f1fcaaf3ba0.css.map*/